// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'classes';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.custom-card {
    border: 0px;

    .card-img-top {
        height: 250px;
    }
}

.profile-form-group {
    padding-top: 15px;
}

.create-journal-button {
    margin-top: 10px;

    i {
        margin-right: 10px;
    }
}